.azure
.vscode
.node_modules
frontend/node_modules
tests/*.js
src/frontend/*.js
!src/frontend/*.ts
!src/frontend/*.tsx
dist/
build/
*.log
*.env
*.local
*.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.*
target/
*.iml
.idea/
.classpath
.project
.settings/
playwright-report/
test-results/